@rem:1080 / 16rem;
@import 'mix-in';
@import "reset";
@import "carousel";
@import "clearfix";
#wrap{
  position: relative;
  font-family: Leelawadee sans-serif;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  .header{
    background:#232323;
    .up{
      height: 135/@rem;
      .logo{
        float: left;
        padding: 26/@rem 17/@rem 0 17/@rem;
        img{
          width:200/@rem;
        }

      }
      .breadNav{
        float: left;
        width: 129/@rem;
        height: 135/@rem;
        background: url(../img/menuBtn.png)  no-repeat;
        background-size: 82/@rem 233/@rem;
        background-position:center 16/@rem ;
        &.active{
          background-position:center -120/@rem ;
        }
      }
      .btns{
        float: right;
        padding-top:21/@rem;
        li{
          float: left;
          width: 111/@rem;
          height: 78/@rem;
          text-align: center;
          margin-right: 15/@rem;
          font-size: 42/@rem;
          background: rgb(6,198,133);
          border-radius: 8/@rem;
          a{
            color: black;
            font-weight: bolder;
            padding: 3/@rem;
            line-height: 78/@rem;
          }
        }

      }
    }
    .down{
      height: 103/@rem;
      padding: 16/@rem;
      input[type='text']{
        float: left;
        box-sizing: border-box;
        width: 829/@rem;
        height: 103/@rem;
        background: #999;
        padding: 5/@rem 10/@rem 5/@rem 10/@rem;
        border: 1px solid #5a5a5a;;
        font-size: 41/@rem;
        color: #333;
        border-radius: 15/@rem;
        outline: none;
        &:focus{
          border: 1px solid #06c685;
          background: white;

        }
      }
      input[type='submit']{
        float: right;
        width: 203/@rem;
        height: 103/@rem;
        border: none;
        background: #414040;
        color: #fff;
        font-size: 41/@rem;
        border-radius: 15/@rem;
      }
    }
    .mask{
      //.1-px(black);
      display: none;
      width: 100%;
      position: absolute;
      z-index: 2;
      top: 135/@rem;
      padding: 10/@rem 0;
      background: rgba(0,0,0,.8);
      li{
        width: 22.5%;
        height: 135/@rem;
        line-height: 135/@rem;
        font-size: 54/@rem;
        text-align: center;
        color: white;
        float: left;
      }
    }
  }
  .content{
    position: absolute;
    top: 270/@rem;
    bottom: 0;
    left: 0;
    right: 0;
    .nav{
      box-sizing: border-box;
      border: 1px solid white;
      height: 150/@rem;
      width: 100%;
      background: white;
      padding: 0  20/@rem;
      .list{
        margin: auto;
        float: left;
        white-space: nowrap;
        li{
          height: 120/@rem;
          font-size: .8rem;
          display: inline-block;
          a{
            display: block;
            height: 120/@rem;;
            line-height: 150/@rem;
            color: black;
            font-weight: bold;
          }
          &.active{
            border-bottom: solid 2px rgb(39,211,189);
          }
        }
      }
    }
    .showWrap{
      overflow: hidden;
      width: 1046/@rem;
      background: #fff;
      margin: 0 auto;
        .showHeader{
          margin-top: 30px/@rem;
          margin: 8/@rem;
          padding: 5/@rem;
          height: 80/@rem;
          line-height: 80/@rem;
          .title{
            font-size: .8rem;
            float: left;
          }
          .more{
            font-size: .8rem;
            float: right;
          }
        }
        .showNav{
          margin: 8/@rem;
          margin-bottom: 10/@rem;
          padding: 5/@rem;
          height: 70/@rem;
          line-height: 70/@rem;
          a{
            height: 105/@rem;
            width: 160/@rem;
            font-size: 44/@rem;
            text-align: center;
            padding-right: 40/@rem;
            color:#6b6b6b;
          }
          .line{
            width: 90/@rem;
            height: 9/@rem;
            background: #6f900d;
          }
        }
        .showContent{
          width: 300%;
          &:extend(.clearfix all);
          .loading{
            float: left;
            width: 33.333%;
            height: 101/@rem;
            background: url("../img/loading.gif") no-repeat center center;
            opacity: 0;
          }
          .showList{
            float: left;
            width: 33.33%;
            .item{
              float: left;
              box-sizing: border-box;
              width: 506/@rem;
              margin: 8/@rem;
              padding: 5/@rem;
              font-size: 40/@rem;
              background:#efefef ;
              color: #000;
              img{
                width: 100%;
              }
              .describe{
                width: 100%;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .info{
                .ico{
                  display: inline-block;
                  width: 40/@rem;
                  height: 40/@rem;
                  background: url("../img/ice.png") no-repeat;
                }
                .pageView{
                  float: left;
                  margin-right: 30px/@rem;
                  .ico{
                    background-position: 0 200px/@rem;
                  }
                }
                .comment{
                  float: left;
                  .ico{
                    background-position: 0 -1150px/@rem;
                  }
                }


              }

            }
          }
        }

    }
  }
}